[submodule "CarePay/CarePayPatient/src/main/assets/intake-forms-webview"]
	path = CarePay/CarePayPatient/src/main/assets/intake-forms-webview
	url = https://github.com/CareCloud/quippe-intake-forms
[submodule "CarePay/CarePayLibrary/src/main/assets/intake-forms-webview"]
	path = CarePay/CarePayLibrary/src/main/assets/intake-forms-webview
	url = https://github.com/CareCloud/quippe-intake-forms
