<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.carecloud.carepay.practice.clover">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="clover.permission.ACTION_PAY" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="clover.permission.ACTION_SECURE_PAY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".CarePayCloverApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemePractice"
        tools:replace="android:theme, android:icon">
        <activity
            android:name=".CloverSplashActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.carecloud.carepay.restart" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.carecloud.carepay.practice.library.signin.SigninActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.carecloud.carepay.practice.library.homescreen.CloverMainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.carecloud.carepay.practice.library.checkin.PracticeModeCheckInActivity"
            android:parentActivityName="com.carecloud.carepay.practice.library.homescreen.CloverMainActivity"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carecloud.carepay.practice.library.homescreen.CloverMainActivity" />
        </activity>
        <activity
            android:name="com.carecloud.carepay.practice.library.appointments.PracticeModePracticeAppointmentsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.carecloud.carepay.practice.library.checkin.activities.HowToCheckInActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.carecloud.carepay.practice.library.patientmode.PatientModeSplashActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.carecloud.carepay.practice.library.checkin.PatientModeCheckInCheckOutActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.carecloud.carepay.practice.library.appointments.PatientModeAppointmentActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.carecloud.carepay.practice.library.checkin.activities.PersonalInformationActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="com.carecloud.carepay.practice.library.payments.PaymentsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.carecloud.carepay.practice.library.patientmodecheckin.activities.PatientModeCheckinActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.carecloud.carepay.practice.library.patientmodecheckin.activities.PatientModeCheckoutActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="com.carecloud.carepay.practice.library.patientmodecheckin.activities.CompleteCheckActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.carecloud.carepaylibray.qrcodescanner.ScannerActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.carecloud.carepay.practice.library.retail.RetailPracticeActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="com.carecloud.carepay.practice.library.survey.SurveyActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="com.carecloud.carepay.practice.library.survey.SurveyResultActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="com.carecloud.carepay.practice.clover.cloverqrcodescanner.CloverQRScannerActivity"
            android:label="@string/qr_code_scanner"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="com.carecloud.carepay.practice.clover.qrscanner.CloverQRScannerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.carecloud.carepay.practice.clover.payments.CloverPaymentActivity"
            android:label="@string/clover_payment_activity"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="com.carecloud.carepay.practice.clover.payments.CloverPaymentActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.carecloud.carepay.practice.clover.payments.CloverRefundActivity"
            android:label="@string/clover_refund_activity"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="com.carecloud.carepay.practice.clover.payments.CloverRefundActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.carecloud.shamrocksdk.payment.activities.CloverPaymentConnectorActivity"
                  android:theme="@style/Theme.AppCompat.Translucent"
                  tools:replace="android:theme"/>
        <service android:name=".CloverQueueUploadService" android:enabled="true" />
    </application>

</manifest>