<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.carecloud.carepay.patient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        tools:node="remove" />

    <!-- Enables the Android Pay API -->
    <application
        android:name=".base.CarePayPatientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".patientsplash.SplashActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.carecloud.carepay.restart" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demographics.activities.NewDemographicsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".demographics.activities.ReviewDemographicsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".selectlanguage.SelectLanguageActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".signinsignuppatient.SigninSignupActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".payment.activities.PaymentActivity"
            android:parentActivityName=".appointments.activities.AppointmentsActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carecloud.carepay.patient.appointments.activities.AppointmentsActivity" />
        </activity>
        <activity
            android:name=".appointments.activities.AppointmentsActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".payment.activities.ViewPaymentBalanceHistoryActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".payment.androidpay.ConfirmationActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".demographics.activities.DemographicsSettingsActivity"
            android:label=""
            android:parentActivityName=".appointments.activities.AppointmentsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carecloud.carepay.patient.appointments.activities.AppointmentsActivity" />
        </activity>
        <activity
            android:name=".notifications.activities.NotificationActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".purchases.activities.PurchaseActivity"
            android:screenOrientation="sensorPortrait" />

        <service android:name="com.carecloud.carepaylibray.fcm.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.carecloud.carepaylibray.fcm.RegistrationIntentService" />

        <activity
            android:name=".tutorial.tutorial.TutorialActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".checkout.NextAppointmentActivity"
            android:screenOrientation="sensorPortrait" />
    </application>

</manifest>