<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carecloud.carepay.patient">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- Enables the Android Pay API -->
    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />

    <application
        android:name=".base.CarePayPatientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".patientsplash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
1
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demographics.activities.DemographicsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".demographics.activities.NewReviewDemographicsActivity" />
        <activity android:name=".consentforms.SignatureActivity" />
        <activity android:name=".selectlanguage.SelectLanguageActivity" />
        <activity
            android:name=".consentforms.ConsentActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".intakeforms.activities.InTakeWebViewActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".signinsignuppatient.SigninSignupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".payment.PaymentActivity"
            android:parentActivityName=".appointments.activities.AppointmentsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.carecloud.carepay.patient.appointments.activities.AppointmentsActivity" />
        </activity>
        <activity android:name=".appointments.activities.AppointmentsActivity" />
        <activity android:name=".appointments.activities.AddAppointmentActivity" />
        <activity android:name=".eligibility.activities.EligibilityActivity"></activity>
    </application>

</manifest>