*.iml
.gradle
local.properties
*build/
*.idea/
*.pro
CarePayComponentLibrary/.gitignore
CarePayPatient/.gitignore
CarePayPracticeClover/.gitignore
CarePayPracticeLibrary/.gitignore
CarePayPracticeTablet/.gitignore
CarePayServiceLibrary/.gitignore
